<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Generar Factura</title>
<link rel="stylesheet" href="estilos.css">

<h2>Crear Usuario</h2>
<form method="POST">
    <label>Nombre:</label>
    <input type="text" name="nombre" required><br>
    <br>
    
    <label>Correo:</label>
    <input type="email" name="correo" required><br><br>

    <label>Contraseña:</label>
    <input type="password" name="contrasena" required><br><br>

    <label>Rol:</label>
    <select name="rol_id">
        {% for rol in roles %}
            <option value="{{ rol['id'] }}">{{ rol['nombre'] }}</option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Crear</button>
</form>
